

.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    width:100%
}


.col-lg-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px
}

col-md-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px
}